@media screen and (min-width: 1300px) {
     #categories {
      padding:2rem 16%;
     }
     .choose{
       padding: 2rem 16%;
       align-content: center;
       } 
       #mem{
        padding: 2rem 16%;
      }
      .benifits{
        bottom: 24vh;
      }

}

@media screen and (min-width: 200px) and (max-width:1000px){
       #desktop-nav {
              display: none;
            }
       #hamburger-nav {
              display: flex;
              color: white;
            }
            .hamburger-icon{
                color: white;
            }
       .nav{
              height: 10%;
       }
       .nav-links{
              display: none;
       }
       .hamburger-nav{
              display: flex;
              color: aliceblue;
       }
       .slider{
           height: 400px;
       }
       .slider .item{
              object-fit: cover;
              width: 100%;
              height: 100%;
              overflow-y: hidden;
       }  
       .categories{
              padding: 2rem 10%;
              align-content: center;
       } 
       .choose{
              max-width: 100%;
              align-content: center;
              padding-bottom: 2rem;
       }
       .choose .btn{
        width: 12rem;
        padding: 1rem;
        text-decoration: none;
       }
       #choose-img{
        max-width: 100%;
       }
       .mem{
        padding: 2rem 10%;
        margin-top: 2rem;
       }
       .membership{
        max-width: 100%;
       }
       .benifits{
        bottom: 38vh;
       }
     }
     @media only screen and (max-width: 990px) and (min-width: 200px) {
       body {
           height: 200vh;
           overflow-y: scroll;
           overflow-x: hidden;
       }
       .footer .inner {
           display: grid;
           grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       }
       .start-learning {
           position: unset;
       }
       .footer-start {
           width: 100%;
           display: block;
           padding: 30px 20px;
           margin: 30px 0;
       }
       .section-title {
           font-size: 30px;
       }
       .section-sub-heading {
           font-size: 18px;
       }
       footer.footer {
           padding-top: 0;
       }
       a.button {
           height: 50px;
           margin-top: 10px;
       }
       .column.is-logo {
           order: 4;
       }
     }
@media screen and (min-width:768px){
    .hamburger-nav{
        display: none;
    }
    .desktop-nav{
        display:flex;
    }
}