:root{
  --orange:#ff7800;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --border:.2rem solid rgba(0,0,0,.1);
  --outline:.1rem solid rgba(0,0,0,.1);
  --outline-hover:.2rem solid var(--black);
}
*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
body{
  font-family: "Poppins", sans-serif;
 
}
body{
  background:#eee;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
h1{
  align-items: center;
  font-size: 4rem;
  font-family: 'poppins';
}

p{
  color: rgb(85 , 85, 85);
}
/*transistion*/
a,
.btn{
  transition: all 300ms ease-in-out;
}
/*desktop nav*/
.li{
  list-style-type: none; 
}
nav,
.nav-links{
  display: flex;
}
nav{
  justify-content: space-around;
  align-items: center;
  height: 13vh;
  z-index: 7;
  background-color: black;
}
.nav-links{
  gap: 2.7rem;
  list-style: none;
  font-size: 3rem;
  display: flex;
  padding-top: 7%;
}
a{
  color: rgb(248, 245, 245);
  text-decoration: none;
  text-decoration-color: white;
}
a:hover{
  color: grey;
  text-decoration: underline ;
  text-underline-offset: 1rem;
  text-decoration-color:rgb(181, 181, 181) ;
}
.logo{
  font-size: 3rem;
}
.logo:hover{
  cursor:pointer;
}
/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  z-index: 40;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(192, 186, 186);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(161, 157, 157);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  border-radius: 5px;

}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;

}
.menu-links li:hover {
  background-color: #f0f0f0;
  transition: 0.5s;

}

.menu-links.open {
  max-height: 300px;

}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

.slider{
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slider .list{
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img{
  height: 100%;
  object-fit: cover;
}
.slider .buttons{
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.slider .buttons button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}
.slider .dots{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li{
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active{
  width: 30px;
}
.slider .dots li:hover {
  background-color: #383938;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.slider .buttons button:hover{
   background-color: #383938;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.search-box{
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border-radius: 30px;
  align-items: center;
  
}
.search-box::placeholder {
  color: transparent; /* Hide actual placeholder text */
  background-color: #ddd; /* Set a faint background for cursor */
  background-repeat: no-repeat;
  background-position: right 0.5rem center; /* Position background at right */
  background-size: 5px 10px; /* Size of the "cursor" background */
}
.search-box:hover input{
  width: 400px;
  height: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background-color: #f0f0f0;
}
.search-box input{
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.2s;
  background: transparent;
}
.choose{
  width: 100%;
  margin: auto;
  position: relative;
}
.choose .img{
  width: 1300px;
  height: 700px;
}
.shop-men .btn{
  margin-top: 1rem;
  display: flex;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
  z-index: 20;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  
}
.shop-men .btn:hover{
  background: var(--black);
    color:#fff;
    text-decoration: none;
}
.shop-women .btn{
  margin-top: 1rem;
  display: flex;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
  z-index: 100;
  
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  
}
.shop-women .btn:hover{
  background: var(--orange);
    color:#fff;
    text-decoration: none;
}

.footer {
  display: block;
  width: 100%;
  position: relative;
  background: #000000;
  padding: 70px 25px 50px 25px;
}

.footer .inner {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 20px;
  max-width: 1180px;
  margin: auto;
  text-align: left;
}
.main-logo {
  position: relative;
  display: flex;
  align-items: center;
}
.main-logo .logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.main-logo .logo > img {
  display: block;
  width: 100%;
  min-width: 40px;
}
.logo-info {
  text-align: left;
  line-height: 20px;
  background-color: #000000;
}
.text {
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  letter-spacing: .18em;
  font-weight: 600;
}
.copyright {
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}
.footer .column {
  width: 100%;
  font-size: 14px;
  text-align: left;
}
.footer .column .column-title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0.5em;
  color: #fff;
}
.footer .column .column-title:not(:first-child) {
  margin-top: 1em;
}
.section-title {
  font-size: 44px;
  font-weight: 700;
  color: #fff;
}
.section-sub-heading {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.section-sub-heading span {
  opacity: 0.6;
}
.section-sub-heading strong {
  font-weight: 600;
}
.membership{
  max-width: 100%;
  align-content: center;
  background-color: #705df2;
  padding-top: 2rem;
}
.texts{
  padding: 7rem 0rem 3rem 4rem;
  bottom: 7rem;
  position: relative;
  
}
.mem-btn{
  padding-top: 2rem;

}
.buy {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

.buy:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.buy:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.buy:hover::before {
  filter: blur(20px);
}

.buy:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}
.benifits{
  
}
.benifits li{
  list-style: none;
  padding: 5px;
  color: #030303;
}
.benifits li::before{ 
  content: "\00BB"; 
} 
.benifits li:hover{
  color: #efcde0;
  cursor: pointer;
  font-size: 1.8rem;
  transition: 0.5s;
}
.logo-info{
    text-align: center;
    padding: 15px 0;
   
    color: #666;
    width: 100%;
}
#products{
  padding: 2rem 16%;
}
.product-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap:1.5rem;
}
.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  gap:1.5rem;
}

.card {
/*   width: 15rem; */
  margin: 1em;
  position: relative;
  overflow: hidden; 
  text-align: center
}

.card:hover .add-to-cart {
  transform: translateX(0);
}

.product-image {
  margin-bottom: 1em
}

.add-to-cart {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 65%;
  padding: .5em 1em; 
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem
}

.product-price {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
}

.add-to-cart {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 65%;
  padding: .5em 1em; 
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem
}

.product-price {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;
  
}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: rgb(50,50,50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
  
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
/*   display: none; */
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:active {
  transform: translateY(5px);
}
.fa-shopping-cart{
  color: white;
  cursor: pointer;
}

.items-container{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(26rem, 1fr));
  gap:1.5rem;
  overflow: hidden;
}
.items-container .product{
  padding:3rem 2rem;
  border-radius: .5rem;
  background:#fff;
  box-shadow: var(--box-shadow);
  outline:var(--outline);
  outline-offset: -1rem;
  text-align: center;
}
.box1{
  display: flex;
  align-items: center;
  width: 250px;
  background-color: #faf5f5;
  outline-offset: -1rem;
  text-align: center;
}
.box1:hover{
  transform: scale(1.1);
  transition: .5s;
} 
.product-image{
  height: 30rem;
  width: 230px;
  align-items: center;
  display: flex;
}
.product-image:hover{
  transform: scale(1.07,1);
  transition: .5s;

}
.best-seller .heading{
  text-align: center;
}
.product-price{
  font-size: 2rem;
  z-index: 20;
  position: relative;
}
.mob-bar{
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #010000;
  position: fixed;
  bottom: 0%;
  max-width: 100%;
  width: 800px;
  height: 40px;
  border-radius: 5px;
}
.mob-bar .icon-cart{
  left: 72%;
  position: fixed;
  bottom: 1px;
  font-size: 3.5rem;
  color: #ddd;
}
.mob-bar .fa-user{
  position: fixed;
  right: 70%;
  color: #ddd;
  font-size: 2.5rem;
  bottom: 1.3%;
  z-index: 10;
}
.prof{
  cursor: pointer;
}
.prof:hover{
 color: #fff;
}
.cart1{
  cursor: pointer;
}
.navigation .ul{
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}
#links:hover{
  text-decoration: none;
}

.coloumn-title .ul{
  list-style: none;
  padding: 1rem;
  gap: 10px;
}
.fa-linkedin{
  font-size: 2rem;
  color: rgb(0, 119, 181);
  gap: 1rem;
  padding-right: 1rem;
}
.fa-envelope{
  font-size: 2rem;
  color: rgb(214, 134, 100);
  gap: 1rem;
  padding-right: 1rem;
}
.fa-twitter{
  font-size: 2rem;
  color: rgb(247, 249, 250);
  background-color: rgb(0, 119, 181);
  gap: 1rem;
  margin-right: 1rem;
}
#contacts:hover{
  text-decoration: none;
}













